@import "./includes/mixins.scss";

html, body {
  color: $color;
  background: url("https://img.alicdn.com/imgextra/i1/O1CN01XigllY20kITTel4rI_!!6000000006887-2-tps-200-200.png");
  caption-side: top;
}
